


html{
	background-color: hsla(145, 35%, 89%,0.9);
	padding:5%;
  }
  
  body{
	  background-color: hsla(190,51%,65%,0.5);
	  color:hsla(180,100%,100%,0.9);
  
  }
  
  
  @font-face {
    font-family: 'Tangerine';
    font-style: normal;
    font-weight: 400;
	color:rgb(6, 124, 99);
    src:
		url(https://fonts.gstatic.com/s/tangerine/v9/IurY6Y5j_oScZZow4VOxCZZM.woff2) format('woff2');
}






div.Introduction{
	bottom: 0;
	
}

img{
	float: right;
}


div.portfolio{
	margin-top: 100px;
	border-right: 0;
	border-bottom:rgb(6, 161, 172);
	box-shadow: 1em 10px rgb(6, 124, 99);
	
}

 

div.wrapper li {
	
	width:150px;
    height:inherit;
    display:inline-block;
	margin-top: 0;
	zoom:1;
    *display:inline;
	
	
}



div.navbar li a {
	color: rgb(247, 131, 131);
	border: 2px solid rgb(10, 143, 28);
	border-radius: 5em;
	display:block;
	position: fixed;
}

footer{
	position: fixed;
    margin-bottom: 0;
	background-color: lightblue;
	border: solid 2px #ccc;
}

div.Assignment {
    position: absolute;
    margin-left:60%;
	margin-top: 150px;
	width: 20%;
	padding:5%;
	
}

div.ContactInformation{
	border-right: 0;
	border-bottom-style: 3px solid #fff;
}

div.Schedule {
	border-right: 0;
	border-bottom-style: 3px solid #fff;
	
}


h1{
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-shadow: black 0.1em 0.1em 0.3em;
	display: inline-block;
	}

h1{ 
	color: black;
	background-color: yellow;
	-webkit-transition: ease-in-out 3s, background-color 3s; 
	-moz-transition: ease-in-out 3s, background-color 3s; 
	
}
	
h1:hover { 
		background-color: lightgreen; 
	}


h1:hover  {
	transform: rotate(45deg);
}
	

p{
	line-height: 1.4em;
	text-align: left;

	
	
}

p::first-letter{
	color: greenyellow;
}

link {
	text-decoration: none;
	
}

a:hover {
	color: yellow;
  }


body{
	background-image: url(../img/stripe.jpg);

	
}

table, th, td {
	border: 1px solid lightgreen;
	padding: 5px;
	vertical-align: 0;
	empty-cells: hide;
	background-color: lightslategrey;
  }



